@import url(./grid.css);

:root {
    /* CORES  */
    --violeta: hsl(263, 55%, 52%);
    --azul-escuro-forte: hsl(219, 29%, 14%);
    --azul-escuro-fraco: hsl(217, 19%, 35%);
    --branco: hsl(0, 0%, 100%);
    --cinza-claro: hsl(0, 0%, 81%);
    --cinza-azulado: hsl(210, 46%, 95%);

    /* FONTE  */
    --fonte-principal: 'Barlow Semi Condensed', sans-serif;
}

html body {
    font-size: 13px;
    font-family: var(--fonte-principal);
    font-weight: 500;
}